

#contenedor-Auth{
    
  display: grid;
  place-items: center; /* Centra vertical y horizontal */
  height: 100vh;
  margin:0;
  width: 100%;
    
}


#container-Auth-2{
    width: min(380px, 95%); 
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
   
}

#container-Auth-register{
    margin-left: 10px;
    margin-right: 100px;
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
}

#container-Auth-v2{
    width:  min(680px, 95%);
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
}

#heder-Auth-1{
    background-color:var(--color-gris); 
    border-radius: 20px;
    padding-top: 10px;
}

#title-name-Auth{
    font-size:42px;    
    font-weight: bold;
    margin-bottom: 5px;
}

#subtitle-Auth{
    text-align: center;
    font-size:20px;
    font-weight: bold;
    position:relative;
    top:-18px;
    color: var(--color-celeste)
}   

#subtitle-Auth-v2{
    font-size:22px;
    font-weight: bold;
    position:relative;
    top:-12px;
    left:100px;
    color: var(--color-celeste)
}  


#icono-google-Auth{
    position: relative;
    top:-2px;
    margin-right: 5px;
}

#text-end-body-Auth{
    font-size: 15px !important;
    color: #595959;
}

#footer-Auth{
    text-align: center;
    color: #595959;
    font-size:11px;
    margin-top: 25px;
}

#footer-Auth p{
    margin:0;
}

/*REGISTRO ESTILOS*/

#heder-Auth-register{
    background-color: var(--color-gris);
    border-radius: 20px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    
}

#body-Auth-registro{
    overflow: visible !important;
}

#label-registro{
    
    background-color: var(--color-celeste-clarito);
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-celeste);
}

#descripcion-select-carrera{
 
    margin-top: 5px !important;
    position: absolute;
    font-size:11px;
    color: rgb(209, 22, 22);
    display: block;
    margin-left: 4px;
    
}

@media (max-width: 992px) {
   #label-input-correo{
     margin-top:40px !important;
   }
}