#contenedor-Auth{
    margin: 0;
    height: 100vh;    /*   100vh  */
    display: flex;              /* Activamos Flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    background: #CDD5DB;
}


#container-Auth-2{
    width: min(380px, 90%);
   
    max-height: 100%;      
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
   
}

#container-Auth-v2{
    width:  min(680px, 95%);
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
}

#title-name-Auth{
    font-size:42px;    
    font-weight: bold;
    margin-bottom: 5px;
}


 

#subtitle-Auth-v2{
    font-size:22px;
    font-weight: bold;
    position:relative;
    top:-12px;
    left:100px;
    color: var(--color-celeste)
}  


#icono-google-Auth{
    position: relative;
    top:-2px;
    margin-right: 5px;
}

#text-end-body-Auth{
    font-size: 15px !important;
    color: #595959;
}

#footer-Auth{
    text-align: center;
    color: #595959;
    font-size:11px;
    margin-top: 25px;
}

#footer-Auth p{
    margin:0;
}

