#contenedor-login{
    margin: 0;
    height: 100vh;              /* Altura completa de la ventana */
    display: flex;              /* Activamos Flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    background: #CDD5DB;
}


#container-login-2{
    width: min(380px, 90%);
    
    max-height: 100%;      
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
   
}

#title-name-login{
    font-size:42px;    
    font-weight: bold;
    margin-bottom: 5px;
}

#subtitle-login{
    text-align: center;
    font-size:22px;
    font-weight: bold;
    position:relative;
    top:-12px;
    color: var(--color-celeste)
}   


#icono-google-login{
    position: relative;
    top:-2px;
    margin-right: 5px;
}

#text-end-body-login{
    font-size: 15px !important;
    color: #595959;
}

#footer-login{
    text-align: center;
    color: #595959;
    font-size:11px;
    margin-top: 25px;
}

#footer-login p{
    margin:0;
}