.card-clickable {
    cursor: pointer;
    transition: 0.3s;
  }
.card-clickable:hover {
    background-color: #d4d4d4;
    
}

.btn-solicitar-inhome{
  background-color: var(--color-celeste);
  padding: 0px 20px;
  border-radius: 7px;
  cursor: pointer;

}

.btn-solicitar-inhome:hover{
  background-color: #3878b1;
}

.btn-solicitar-inhome a{
  text-decoration: none;
  color:white ;
  font-weight: bold;

}

.container-default{
  background-color: white;
  border-radius: 10px;
  border:1px solid rgb(209, 209, 209);
  padding: 50px;
}

@media (max-width: 992px) {
  .container-default{
    padding: 25px;
  }
}

.msg-nothing{
  text-align: center;
  margin:100px;
  color:rgb(198, 198, 198);
  font-size: 20px;

}
/* SOLICITAR STYLES ***/

.tarjet-cyan{
  background-color:#C1E9FF ;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 10px;
  font-size:20px;
  font-weight: bold;
  color: #3179B5;
}

.description-input{
  color:#547b9c;
  margin-bottom: 10px;
  display: block;
  font-size:14.5px;
}

.iframe-styles{
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #dad9d9 ;
}