:root{
    --color-azul-Oscuro : #013D73;
    --color-azul-BienOscuro: #333F50;
    --color-celeste: #3F81BB;
    --color-celeste-clarito:#DEEBF7;
    --color-gris:#F2F2F2;
    --color-rojo: rgba(226, 64, 78, 1);

}

body{
    font-family: Arial;
    background-color: #CDD5DB;
}

.body-templates{
    background-color: #E4E9EC;
}

.label-form{
    display: block;
    color: #969595;
    font-weight: bold;
    font-family: Arial;
    margin-top:15px;
    margin-bottom: 2px;
    font-size:15px;
}

input::placeholder {
  color: #dbdada;        /* Cambia el color */
  font-size: 15px;
}


.input-form{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #dad9d9;
    border-radius: 5px;
    padding: 8px 10px;
    color:rgb(21, 21, 21);
    font-size:17px;
    

}

.select-form{

    
    outline: none;  
    width: 100%;
    border: 1px solid #dad9d9 ;
    border-radius: 5px;
    padding: 10px 10px;
    color:rgb(21, 21, 21);
    font-size:17px;
    
}

.select-form:focus{
    border: 1px solid var(--color-celeste);
}

.input-form:focus{
    border: 1px solid var(--color-celeste);
}

.a-link-default{
    text-decoration: none;
    color: var(--color-celeste);
    font-size:15px;
}

.btn-style1{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: var(--color-celeste);
    color:white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.btn-style1:hover{
    background-color: #3878b1;
}

.btn-style2{
    padding: 7px 15px;
    border: 1px solid var(--color-celeste);
    border-radius: 7px;
    background-color: white;
    color:var(--color-celeste);
    font-size: 15px;
    text-align: center;
}

.btn-style2:hover{
    
    background-color: var(--color-celeste);
    color:white;
    
}

.btn-style2-google{
    width: 100%;
    padding: 8px;
    border:1px solid #767171;;
    border-radius: 10px;
    background-color: white;
    color:#595959;
    font-size: 1rem;
    
}

.btn-style3-danger{
    padding: 7px 15px;
    border: 1px solid var(--color-rojo);
    border-radius: 7px;
    background-color: white;
    color:var(--color-rojo);
    font-size: 15px;
    text-align: center;
}

.btn-style3-danger:hover{
    background-color: var(--color-rojo);
    color:white;
}

.contenedor-modal-load{
    text-align: center;
    padding: 50px;
}

.spinner-custom {
    width: 3rem;
    height: 3rem;
    border-width: 0.4rem;
    color: var(--color-azul-Oscuro); /* solo si quieres un color personalizado */
  }

.text-cont-modal-load{
    font-size:18px;
    color: #525354;
    margin-bottom: 0;
    margin-top: 20px;
}



/*MENU STYLES*/


.bg-body-tertiary{
    background-color: var(--color-azul-BienOscuro) !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-nav  .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
    font-weight: bold;
}

.nav-link{
    color: white !important;
    font-weight: bold;
}

@media (min-width: 992px) {
    .navbar-expand-xl .navbar-nav .dropdown-menu {
       box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
    }

    .dropdown-menu li{
        white-space: nowrap;       /* Todo en una línea */
        overflow: hidden;          /* Oculta el exceso */
        text-overflow: ellipsis;   /* Muestra los “…” */
        max-width: 170px;   
    }
}

.navbar-collapse {
    flex-grow: 0 !important;
}



#cont-logo-menu{
    margin-top: 5px;
    margin-right: 10px;
}

#title-menu{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#subtitle-menu{
    color: white;
    line-height: 8px;
    margin-bottom: 10px;
}

/***FOOTER***/



/***********/

.title-modules{
    display: block;
    font-size:30px;
    font-weight: bold;
    color: var(--color-azul-BienOscuro);
   
    
}

