:root{
    --color-azulOscuro : #013D73;
    --color-celeste: #3F81BB;
}

body{
    font-family: Arial;
}

.label-form{
    display: block;
    color: #767171;
    font-weight: bold;
    font-family: Arial;
    margin-top:15px;
    margin-bottom: 2px;
    font-size:15px;
}

input::placeholder {
  color: #AFABAB;        /* Cambia el color */
  font-size: 16px;
}

.input-form{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #AFABAB;
    border-radius: 5px;
    padding: 8px 10px;
    color:rgb(21, 21, 21);
    font-size:17px;
    

}

.input-form:focus{
    border: 1px solid var(--color-celeste);
}

a{
    text-decoration: none;
    color: var(--color-celeste);
    font-size:15px;
}

.btn-style1{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: var(--color-celeste);
    color:white;
    font-size: 17px;
    font-weight: bold;
}

.btn-style2-google{
    width: 100%;
    padding: 8px;
    border:1px solid #767171;;
    border-radius: 10px;
    background-color: white;
    color:#595959;
    font-size: 17px;
    
}


.contenedor-modal-load{
    text-align: center;
    padding: 50px;
}

.spinner-custom {
    width: 3rem;
    height: 3rem;
    border-width: 0.4rem;
    color: var(--color-azulOscuro); /* solo si quieres un color personalizado */
  }

.text-cont-modal-load{
    font-size:18px;
    color: #525354;
    margin-bottom: 0;
    margin-top: 20px;
}