:root{
    --color-azul-Oscuro : #013D73;
    --color-azul-BienOscuro: #333F50;
    --color-celeste: #3F81BB;
    --color-celeste-clarito:#DEEBF7;
    --color-gris:rgb(240, 240, 240);
    --color-rojo: rgba(226, 64, 78, 1);
    --color-verde: #6ac584;
}

body{
    font-family: Arial;
    background-color: #CDD5DB;
}

.body-templates{
    background-color: #E4E9EC;
}

.label-form{
    display: block;
    color: #636363;
    font-weight: bold;
    font-family: Arial;
    margin-top:15px;
    margin-bottom: 2px;
    font-size:15px;
}

input::placeholder {
  color: #dbdada;        /* Cambia el color */
  font-size: 15px;
}


.input-form{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #dad9d9;
    border-radius: 5px;
    padding: 8px 10px;
    color:rgb(21, 21, 21);
    font-size:17px;
    

}

.select-form{

    outline: none;  
    width: 100%;
    border: 1px solid #dad9d9 ;
    border-radius: 5px;
    padding: 10px 10px;
    color:rgb(21, 21, 21);
    font-size:17px;
    
}

.select-form:focus{
    border: 1px solid var(--color-celeste);
}

.input-form:focus{
    border: 1px solid var(--color-celeste);
}

.a-link-default{
    text-decoration: none;
    color: var(--color-celeste);
    font-size:15px;
}

.btn-style1{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: var(--color-celeste);
    color:white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn-style1:hover{
    background-color: #3878b1;
}

.btn-style2{
    padding: 7px 15px;
    border: 1px solid var(--color-celeste);
    border-radius: 7px;
    background-color: white;
    color:var(--color-celeste);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.btn-style2:hover{
    
    background-color: #3878b1;
    color: white;
   
    
}

.btn-style2-google{
    width: 100%;
    padding: 8px;
    border:1px solid #767171;;
    border-radius: 10px;
    background-color: white;
    color:#595959;
    font-size: 1rem;
    
}


.btn-style3-danger{
    padding: 7px 15px;
    border: 1px solid var(--color-rojo);
    border-radius: 7px;
    background-color: white;
    color:var(--color-rojo);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.btn-style4{
    width: 100%;
    padding: 15px 30px;
    border:none;
    border-radius: 10px;
    background-color: var(--color-celeste);
    color:white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none
}

.btn-style4:hover{
    background-color: #3878b1;

}

.btn-style3-danger:hover{
    background-color: var(--color-rojo);
    color:white;
}

.contenedor-modal-load{
    text-align: center;
    padding: 50px;
}

.container-default{
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

@media (max-width: 992px) {
  .container-default{
    padding: 25px;
  }
}

.spinner-custom {
    width: 3rem;
    height: 3rem;
    border-width: 0.4rem;
    color: var(--color-azul-Oscuro); /* solo si quieres un color personalizado */
  }

.text-cont-modal-load{
    font-size:18px;
    color: #525354;
    margin-bottom: 0;
    margin-top: 20px;
}



/*MENU STYLES*/

.navbar-toggler-icon {
    /* Reemplaza con el código Base64 de un SVG blanco puro */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwLDAsMjU2LDI1NiIgd2lkdGg9IjUwcHgiIGhlaWdodD0iNTBweCIgZmlsbC1ydWxlPSJub256ZXJvIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48ZyB0cmFuc2Zvcm09InNjYWxlKDUuMTIsNS4xMikiPjxwYXRoIGQ9Ik0wLDcuNXY1aDUwdi01ek0wLDIyLjV2NWg1MHYtNXpNMCwzNy41djVoNTB2LTV6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=') !important;
}

.navbar-toggler{
    border: var(--bs-border-width) solid var(--color-azulOscuro ) !important;
}

.bg-body-tertiary{
    background-color: var(--color-azul-BienOscuro) !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-nav  .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
    font-weight: bold;
}

.nav-link{
    color: white !important;
    font-weight: bold;
}

.dropdown-item:active{
    background-color: var(--color-celeste-clarito) !important;
}

@media (min-width: 992px) {
    .navbar-expand-xl .navbar-nav .dropdown-menu {
       box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.15);
    }

    
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.redirect-cont-logo-menu{
    text-decoration: none;
}

#cont-logo-menu{
    margin-top: 5px;
    margin-right: 10px;
}

#title-menu{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#subtitle-menu{
    color: white;
    line-height: 8px;
    margin-bottom: 10px;
}

/***FOOTER***/

.enlaces-rapidos{
    color: #bdc3c7;
    text-decoration: none; 
    font-size: 14px; 
    transition: color 0.3s;
}

.enlaces-rapidos:hover{

  color: white;

}


/***********/

.title-modules{
    display: block;
    font-size:30px;
    font-weight: bold;
    color: var(--color-azul-BienOscuro);
   
}

